<router-outlet></router-outlet>
<!--Título-->
<h1>Proyect C</h1>
<!--Contenedor-->
<div id="container">
  <!--Pestaña 1 activa por defecto-->
  <input id="tab-1" type="radio" name="tab-group" checked="checked" />
  <label for="tab-1">Proyect C</label>
  <!--Contenido a mostrar/ocultar-->
  <div id="content">
    <!--Contenido de la Pestaña 1-->
    <div id="content-1">
      <h2>¿Que es Proyect C?</h2>
      <p class="left">
        <img src="http://ximg.es/160x120" alt="" /> <br />
        Proyect C se creo para un nuevo metodo de juego de cartas donde
        pudieramos darle mas posibilidad a los usuarios de superar sus limites
        al jugar, que las estrategias que haga sean vitales durante el proceso,
        y no algo como que ya se dicidio por mi mazo que esta otp.<br />
        Es una revolucion de ideas y conceptos que llevara a muchos lugares la
        jugabilidad, y intentaremos avarcar todo lo posible en la tecnologia y
        en la relidad, con el concepto de que todo lo que consiga sirva para
        todo
      </p>
      <h2>Metodoliga</h2>
      <p>
        Se creara las cartas por este medio por medio de una seria de
        condiciones ya predeterminas, para que tenga su limite y de igual manera
        estar controladas para una mejor jugabilidad y con eso se podra ensayar
        en el apartado de <a href="/juego">JUEGO</a>
      </p>
      <h2>Creacion de Carta</h2>
      
      <p class="left">
        Para la creacion de la carta se necesitara un TITULO, DESCRIPCION, IMG,
        Y UN TIPO depediendo del tipo sera de ARMADURA, ARMA O DE PODER con eso
        lo podremos y verificamos si los baros si son correctos a la carta que
        creamos para así poder guardalar, le damos un ejemplo de una carta para
        tener guia en la parte superior esta la
        <a href="crear">creacion de carta</a>
      </p>
    </div>
  </div>
</div>
