<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="crear">Crear Carta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="carta">Cartas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="mazo" >Mazo</a>
      </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="juego">Juego</a>
    </li>
    
  </ul>